.cellUnknown {
    fill: white;
    stroke: rgb(71, 71, 71);
}

.hintUnknown {
    fill: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.crossUnknown {
    visibility: hidden;
}

.cellEmpty {
    fill: rgb(240, 240, 240);
    stroke: rgb(71, 71, 71);
}

.hintEmpty {
    fill: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.crossEmpty {
    visibility: visible;
    stroke: rgb(200, 200, 200);
}

.cellFull {
    fill: black;
    stroke: rgb(71, 71, 71);
}

.hintFull {
    fill: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.crossFull {
    visibility: hidden;
}

.applied {
    fill: rgb(130, 130, 130);
}

.hintError {
    fill: red;
}

.cursor {
    stroke: red;
    stroke-width: 3px;
    fill: transparent;
}

.cursorHide {
    visibility: hidden;
}

.body {
    background-color: rgb(243, 240, 225);
}

.toolbar {
    padding-left: 20px;
    padding-top: 10px;
}

.tool {
    padding: 5px;
}

.toolDisabled {
    color: rgb(186, 186, 186);
}